In [548]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from random import randint
import re

In [549]:
hist_data = pd.read_csv('train.csv', sep=',')
print(hist_data.size)
print(hist_data.head(5))

10692
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [550]:
passenger_titles = hist_data['Name'].values
# names = names.reshape(-1,1)
print(type(passenger_titles))
regex = r', (.*)\. '
for name_index in range(0,len(passenger_titles)):
    
    # print(names[name_index])
    passenger_titles[name_index] = re.search(regex, passenger_titles[name_index]).group(1)
    
passenger_titles = passenger_titles.reshape(-1,1)
print(passenger_titles[0:10,:])

<class 'numpy.ndarray'>
[['Mr']
 ['Mrs']
 ['Miss']
 ['Mrs']
 ['Mr']
 ['Mr']
 ['Mr']
 ['Master']
 ['Mrs']
 ['Mrs']]

In [551]:
X_data = hist_data.drop(hist_data.columns[[0,1,3,8,10,11]], axis=1)
Y_data = hist_data['Survived'].values
print(X_data.shape)
Y_data = Y_data.reshape(-1,1)
print(Y_data.shape)
print(X_data.head(2))
print(X_data)

(891, 6)
(891, 1)
   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
     Pclass     Sex   Age  SibSp  Parch      Fare
0         3    male  22.0      1      0    7.2500
1         1  female  38.0      1      0   71.2833
2         3  female  26.0      0      0    7.9250
3         1  female  35.0      1      0   53.1000
4         3    male  35.0      0      0    8.0500
5         3    male   NaN      0      0    8.4583
6         1    male  54.0      0      0   51.8625
7         3    male   2.0      3      1   21.0750
8         3  female  27.0      0      2   11.1333
9         2  female  14.0      1      0   30.0708
10        3  female   4.0      1      1   16.7000
11        1  female  58.0      0      0   26.5500
12        3    male  20.0      0      0    8.0500
13        3    male  39.0      1      5   31.2750
14        3  female  14.0      0      0    7.8542
15        2  female  55.0      0      0   16.0000
16        3    male   2.0      4      1   29.1250
17        2    male   NaN      0      0   13.0000
18        3  female  31.0      1      0   18.0000
19        3  female   NaN      0      0    7.2250
20        2    male  35.0      0      0   26.0000
21        2    male  34.0      0      0   13.0000
22        3  female  15.0      0      0    8.0292
23        1    male  28.0      0      0   35.5000
24        3  female   8.0      3      1   21.0750
25        3  female  38.0      1      5   31.3875
26        3    male   NaN      0      0    7.2250
27        1    male  19.0      3      2  263.0000
28        3  female   NaN      0      0    7.8792
29        3    male   NaN      0      0    7.8958
..      ...     ...   ...    ...    ...       ...
861       2    male  21.0      1      0   11.5000
862       1  female  48.0      0      0   25.9292
863       3  female   NaN      8      2   69.5500
864       2    male  24.0      0      0   13.0000
865       2  female  42.0      0      0   13.0000
866       2  female  27.0      1      0   13.8583
867       1    male  31.0      0      0   50.4958
868       3    male   NaN      0      0    9.5000
869       3    male   4.0      1      1   11.1333
870       3    male  26.0      0      0    7.8958
871       1  female  47.0      1      1   52.5542
872       1    male  33.0      0      0    5.0000
873       3    male  47.0      0      0    9.0000
874       2  female  28.0      1      0   24.0000
875       3  female  15.0      0      0    7.2250
876       3    male  20.0      0      0    9.8458
877       3    male  19.0      0      0    7.8958
878       3    male   NaN      0      0    7.8958
879       1  female  56.0      0      1   83.1583
880       2  female  25.0      0      1   26.0000
881       3    male  33.0      0      0    7.8958
882       3  female  22.0      0      0   10.5167
883       2    male  28.0      0      0   10.5000
884       3    male  25.0      0      0    7.0500
885       3  female  39.0      0      5   29.1250
886       2    male  27.0      0      0   13.0000
887       1  female  19.0      0      0   30.0000
888       3  female   NaN      1      2   23.4500
889       1    male  26.0      0      0   30.0000
890       3    male  32.0      0      0    7.7500

[891 rows x 6 columns]

In [552]:
passenger_titles = pd.DataFrame(passenger_titles, columns=['PassengerTitles'])
# X_data = pd.DataFrame(X_data)
X_data = pd.concat([passenger_titles, X_data], axis=1)
# print(X_data)

le = LabelEncoder()
enc = OneHotEncoder(sparse=False)

for col in X_data.columns.values:
    if X_data[col].dtypes=='object':
        le.fit(X_data[col].values)
        X_data[col] = le.transform(X_data[col])

ohe_list = ['PassengerTitles','Pclass','Sex']
# print(X_data.iloc[:, ohe_list])
# print(X_data)
for col in ohe_list:
    enc.fit(X_data[[col]])
    temp = enc.transform(X_data[[col]])
    
    temp = pd.DataFrame(temp, columns=[(col+"_"+str(i)) for i in X_data[col].value_counts().index])
    X_data = pd.concat([X_data, temp], axis=1)

temp.head()
X_data.head()

PassengerTitles
Pclass
Sex
Age
SibSp
Parch
Fare

,PassengerTitles,Pclass,Sex,Age,SibSp,Parch,Fare,PassengerTitles_11,PassengerTitles_8,PassengerTitles_12,...,PassengerTitles_16,PassengerTitles_10,PassengerTitles_13,PassengerTitles_14,PassengerTitles_0,Pclass_3,Pclass_1,Pclass_2,Sex_1,Sex_0
0,11,3,1,22.0,1,0,7.2500,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,12,1,0,38.0,1,0,71.2833,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,8,3,0,26.0,0,0,7.9250,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,12,1,0,35.0,1,0,53.1000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,11,3,1,35.0,0,0,8.0500,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [553]:
X_data = X_data.values


# We have to use this in order to deal with NaN values
my_imputer = Imputer()
X_data = my_imputer.fit_transform(X_data)
# print(X_data)

In [554]:
rand_state_seed = randint(0,100)
# scaler = MinMaxScaler()
# X_data = scaler.fit_transform(X_data)
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.7, random_state=rand_state_seed)

In [555]:
# SVM
kernel_type = ['rbf', 'linear', 'sigmoid']
C = [0.1,1.,10.,20.]
for c_value in C: 
    for kern in kernel_type:
        clf = SVC(kernel=kern, C=c_value)  # , degree=int(degree_value))
        clf.fit(X_train, Y_train)
        print("State: " + str(rand_state_seed) + 'Kernel: ' + kern + " - C: " + str(c_value) + " - Score: " + str(clf.score(X_test, Y_test)))
        # print("Prediction: " + str(clf.predict(predict_me)))

State: 45Kernel: rbf - C: 0.1 - Score: 0.626602564103
State: 45Kernel: linear - C: 0.1 - Score: 0.786858974359
State: 45Kernel: sigmoid - C: 0.1 - Score: 0.626602564103
State: 45Kernel: rbf - C: 1.0 - Score: 0.711538461538

/Users/lpgoncalo/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

State: 45Kernel: linear - C: 1.0 - Score: 0.8125
State: 45Kernel: sigmoid - C: 1.0 - Score: 0.626602564103
State: 45Kernel: rbf - C: 10.0 - Score: 0.725961538462
State: 45Kernel: linear - C: 10.0 - Score: 0.807692307692
State: 45Kernel: sigmoid - C: 10.0 - Score: 0.626602564103
State: 45Kernel: rbf - C: 20.0 - Score: 0.721153846154
State: 45Kernel: linear - C: 20.0 - Score: 0.80608974359
State: 45Kernel: sigmoid - C: 20.0 - Score: 0.626602564103

In [556]:
# Logistical Regression
clf = LogisticRegression(C=0.1)  # , degree=int(degree_value))
clf.fit(X_train, Y_train)
print("State: " + str(rand_state_seed) + " - C: " + str(0.1) + " - Score: " + str(clf.score(X_test, Y_test)))
# print("Prediction: " + str(clf.predict(predict_me)))

State: 45 - C: 0.1 - Score: 0.81891025641

/Users/lpgoncalo/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [557]:
# DecisionTrees
clf = DecisionTreeClassifier()  # , degree=int(degree_value))
clf.fit(X_train, Y_train)
print("State: " + str(rand_state_seed) + " - Score: " + str(clf.score(X_test, Y_test)))
# print("Prediction: " + str(clf.predict(predict_me)))

State: 45 - Score: 0.751602564103